.table-container {
    width: 1400px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
}

.mtable {
    width: 100%;
    margin: 30px 0;
}

.mtable td {
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    border-bottom: thin solid lightgray;
}

.mtable thead {
    background-color: rgba(5, 51, 110, 0.71);
    color: white;
    padding: 10px;

}

.mtable tbody tr:hover {
    background-color: rgba(200, 202, 204, 0.37);
}

.delete-button {
    color: #05336E;
    background-color: transparent;
    border-radius: 5px;
}

.delete-button:hover {
    color: white;
    background-color: #05336E;
}
