.table-container {
    width: 1200px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}

.admin-table {
    width: 100%;
    margin: 30px 0;
}

.admin-table td {
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    border-bottom: thin solid lightgray;
}

.admin-table thead {
    background-color: #3872BD;
    color: white;
    padding: 10px;
}

thead td:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: transparent;
}

thead td:nth-child(2), thead td:nth-child(3),thead td:nth-child(4),thead td:nth-child(5) {
    border-color: transparent;
}

thead td:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: transparent;
}

.admin-table tbody tr:hover {
    background-color: rgba(200, 202, 204, 0.37);
}

.delete-button {
    color: #3872BD;
    background-color: transparent;
    border-radius: 5px;
    padding: 0 5px;
}

.delete-button:hover {
    color: white;
    background-color: #05336E;
}
