.my-card {
    width: 310px;
    height: 180px;
    padding: 20px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 200px 50px;
    gap: 20px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: white;
}

.my-card:hover{
    transform: rotateY(180deg);
    transition: 1s;
}

.my-card:not(hover){
    transform: rotateY(0deg);
    transition: 500ms;
}

.card-icon-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-icon {
    width: 50px;
}

.card-cost {
    margin:0;
    font-size: 20px;
}
.card-date {
    margin:0;
    font-size: 14px;
}

.card-owner {
    margin:0;
}

p.card-number {
    margin:0;
    font-size: 14px;

}
