body {
    font-size: 18px;
    color: black;
}


.my-wrapper {
    background-image: linear-gradient(to top, #fff1eb 0%, #a2dcf6 100%);
    /*background-color: white;*/
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

button {
    color: #ffffff;
    border: 1px solid white;
    margin: 15px 0;
    border-radius: 5px;
    padding: 5px 15px;
    width: auto;
    background-color: transparent;
}

.message {
    width: auto;
    height: auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
}

.carousel-indicators [data-bs-target] {
    margin: 50px 20px 0 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

