.my-wrapper {
    background-image: linear-gradient(to top, #fff1eb 0%, #a2dcf6 100%);
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

a {
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

button {
    color: black;
    border: 1px solid transparent;
    margin: 15px 0;
    border-radius: 5px;
    padding: 5px 15px;
    width: auto;
    background-color: aliceblue;
}

.message {
    width: auto;
    height: auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
}

